<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>フォトピン | Cheers Office</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    </head>
<body>
    <div th:replace="common/header :: header"></div> 
    <div class="container">
        <h1>フォトピン</h1>
        
        <div id="map" style="height: 500px; width: 100%; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 20px;"></div>
        
        <form th:action="@{/photopin/upload}" method="post" enctype="multipart/form-data">
            <h2>写真をピンする</h2>
            
            <input type="file" name="file" accept="image/*" required>
            <input type="text" name="caption" placeholder="キャプション (必須)" required>
            <input type="hidden" id="latitudeInput" name="latitude">
            <input type="hidden" id="longitudeInput" name="longitude">
            
            <p id="coordDisplay">地図上の座標を選択してください。</p>
            <button type="submit">アップロード</button>
        </form>
    </div>

    <script th:src="@{/js/photopin.js}"></script>
</body>
</html>